# Database connection settings
CRAFT_DB_DRIVER=pgsql
CRAFT_DB_SERVER=host.docker.internal
CRAFT_DB_PORT=5432
CRAFT_DB_DATABASE=beeraffordability
CRAFT_DB_USER=beeraffordability
CRAFT_DB_PASSWORD=""
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# General settings
CRAFT_ENVIRONMENT=production
CRAFT_DEV_MODE=false
CRAFT_ALLOW_ADMIN_CHANGES=false
CRAFT_DISALLOW_ROBOTS=false

PRIMARY_SITE_URL=https://beeraffordability.com/
ENDPOINT_URL=https://admin.beeraffordability.com/api
ENDPOINT_TOKEN=
CRAFT_BASE_CP_URL=https://admin.beeraffordability.com/
FRONTEND_URL=https://beeraffordability.com/

CRAFT_APP_ID=CraftCMS--ee0de5d3-27eb-49a8-b892-5b19039ae930
CRAFT_SECURITY_KEY=
